.header {
 position: absolute;
 width: 100%;
 padding-top: 30px;
 padding-bottom: 30px;
 transition: all 0.4a ease-in-out;
 //background: linear-gradient(180deg, #000 0%, #28353d 100%);

 &__wrapper-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 &__inems {
  display: flex;
  gap: 100px;
  font-weight: 700;
  font-size: 24px;
 }

 &__btn {
  position: relative;
  width: 60px;
  height: 30px;
  border: 2px solid $white;
  border-radius: 100px;
  transition: border-color 0.4s ease-in-out;
 }

 &__btn:focus {
  outline: none;
 }

 &__btn.focus-visible, &__btn:hover {
  border-color: $light;
 }

 &__btn:active {
  border-color: $active;
 }

 &__btn.focus-visible > .btn__span, &__btn:hover > .btn__span {
  background-color: $light;
 }

 &__btn:active > .btn__span {
  border-color: $active;
 }

 &__link {
  color: $white;
  transition: color 0.4s ease-in-out;
 }

 &__link:focus {
  outline: none;
 }

 &__link.focus-visible, &__link:hover {
  color: $light;
 }

 &__link:active {
  color: $active;
 }

 &__clos-menu {
  display: none;
 }

 &__btn-clos {
  width: 20px;
  height: 20px;
  border: 2px solid $white;
  border-width: 2px 0 0 2px;
  transform: rotate(45deg);
  transition: border-color 0.4s ease-in-out;
 }

 &__btn-clos:focus {
  outline: none;
 }

 &__btn-clos.focus-visible, &__btn-clos:hover {
  border-color: $light;
 } 

 &__btn-clos:active {
  border-color: $active;
 }
}

.header-mobil {
 display: none;
}

.logo {
 &__link {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: $white;
  transition: color 0.4s ease-in-out;
 }

 &__link:focus {
  outline: none;
 }

 &__link.focus-visible, &__link:hover {
  color: $light;
 }

 &__link:active {
  color: $active;
 }
}

.burger {
 display: none;
}

.group-link {
 &__items {
  display: flex;
  gap: 30px;
 }

 &__link {
  color: $white;
  transition: color 0.4s ease-in-out;
 }

 &__link:focus {
  outline: none;
 }

 &__link.focus-visible, &__link:hover {
  color: $light;
 }

 &__link:active {
  color: $active;
 }
}

.btn {
 &__span {
  position: absolute;
  left: 1px;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  background-color: $white;
  border-radius: 50%;
  transition: background-color 0.4s ease-in-out, right 0.4s ease-in-out, left 0.4s ease-in-out;
 }

 &__span-night {
  left: 31px;
 }

 &__span > svg {
  transition: opacity 0.4s ease-in-out;
 }

 &__svg--hidden {
  position: absolute;
  opacity: 0;
 }
}

@media (max-width: 1140px) {
 .header {
  &__group-link {
   display: none;
  }

  &__inems {
   font-size: calc(20px + (24 - 20) * ((100vw - 360px) / (1440 - 360)));
  }
 }

 .logo {
  &__link {
   font-size: calc(20px + (24 - 20) * ((100vw - 360px) / (1440 - 360)));
  }
 }
}

@media (max-width: 950px) {
 .header {
  &__nav {
   display: none;
  }

  &__wrapper-btn {
   display: none;
  }

  &__wrapper-menu {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: 100vh;
   padding: 20px;
   visibility: hidden;
   transform: translateY(-120%);
   box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
   background: linear-gradient(180deg, #141a1d 0%, #2d3a41 51.5%, #4b626e 100%);
   transition: transform 0.4s ease-in-out, visibility 0.4s ease-in-out;
  }

  &__wrapper-menu--active {
   visibility: visible;
   transform: none;
  }

  &__logo {
   padding-bottom: 15px;
  }

  &__wrapper-menu > &__logo {
   border-bottom: 1px solid $white;
  }
  
  &__nav {
   display: block;
   position: absolute;
   top: 100px;
   left: 50%;
   transform: translate(-50%);
  }

  &__inems {
   flex-direction: column;
   text-align: center;
   gap: 15vh;
  }

  &__group-link {
   display: block;
   position: absolute;
   top: 20px;
   right: 20px;
  }

  &__wrapper-btn {
   display: block;
   position: absolute;
   bottom: 15vh;
   left: 50%;
   transform: translate(-50%);
  }

  &__clos-menu {
   display: block;
   position: absolute;
   position: absolute;
   bottom: 2vh;
   left: 50%;
   transform: translate(-50%);
  }
 }

 .header-mobil {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 24px;
  height: 24px;
  padding-top: 3px;
  padding-bottom: 3px;

  &__line {
   width: 100%;
   height: 2px;
   background-color: $white;
   transition: background-color 0.4s ease-in-out, width 0.4s ease-in-out;
  }

  &__line:nth-child(2) {
   width: 85%;
  }

  &__line:last-child {
   width: 60%;
  }
 }

 .burger:focus {
  outline: none;
 }
 
 .burger.focus-visible > .burger__line, .burger:hover > .burger__line {
  background-color: $light;
 }
 
 .burger:active > .burger__line {
  width: 100%;
  background-color: $active;
 }

 .group-link {
  &__items {
   gap: calc(15px + (30 - 15) * ((100vw - 320px) / (950 - 320)));
  }
 }
}


