.skillbox {
 background: linear-gradient(207deg, #72a0ba 0%, #dfebf7 100%);

 &__content {
  padding-top: 60px;
  padding-bottom: 60px;
 }

 &__title {
  display: none;
 }

 &__link {
  display: block;
  max-width: 190px;
  margin-bottom: 50px;
 }

 &__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
 }

 &__item.swiper-slide {
  box-sizing: border-box;
 }
}

.card {
 display: flex;
 justify-content: space-between;
 padding: 18px 16px 130px;
 border-radius: 20px;
 background-color: $white;
 background-repeat: no-repeat;
 background-position: -1px bottom;

 &__btn {
  position: relative;
  min-width: 33px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: $primary;
  transition: background-color 0.4s ease-in-out;
 }

 &__btn:focus {
  outline: none;
 }

 &__btn:hover {
  background-color: $light;
 }

 &__line {
  position: absolute;
  top: 30%;
  left: 35%;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  pointer-events: none;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
 }

 &__title-group {
  text-align: end;
 }

 &__title {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: $dark;
 }

 &__desc {
  text-align: end;
  font-weight: 400;
  font-size: 16px;
  color: $text-medium-dark;
 }
}

.card-one {
 background-image: url('../images/skillbox(1440)/skillbox1.jpg');
}

.card-two {
 background-image: url('../images/skillbox(1440)/skillbox2.jpg');
}

.card-three {
 background-image: url('../images/skillbox(1440)/skillbox3.jpg');
}

.card-four {
 background-image: url('../images/skillbox(1440)/skillbox4.jpg');
}

.tooltip {
 position: fixed;
 z-index: 2;
 padding: 8px;
 text-align: center;
 font-weight: 400;
 font-size: 12px;
 border-radius: 20px;
 border: 1px solid $text-medium-dark;
 color: $text-medium-dark;
 background-color: $white;
}

@media (max-width: 1140px) {
 .skillbox {
  &__content {
   padding-top: calc(30px + (60 - 30) * ((100vw - 360px) / (1440 - 360)));
   padding-bottom: calc(30px + (60 - 30) * ((100vw - 360px) / (1440 - 360)));
  }

  &__link {
   max-width: calc(130px + (190 - 130) * ((100vw - 360px) / (1440 - 360)));
   margin-bottom: calc(25px + (50 - 25) * ((100vw - 360px) / (1440 - 360)));
  }
 }

 .card {
  &__title {
   font-size: calc(14px + (24 - 14) * ((100vw - 360px) / (1440 - 360)));
  }

  &__desc {
   font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (1440 - 360)));
  }
 }
}

@media (max-width: 950px) {
 .skillbox {
  &__container {
   overflow: hidden;
  }

  &__items {
   gap: 0;
  }
 }
}