$dark: #28353d;
$primary: #42a4da;
$light: #cae5f3;
$disabled: #858a90;
$error: #d23434;
$click: #72a0ba;
$white: #fff;
$active: #aac7d7;
$white-lite: #f5f5f5;
$dark-bg: #17191b;
$text-medium-dark: #45576d;